/*From Flux CSS Start*/
h2 {
	font-family:"Times New Roman", Times, serif;
	font-size:140%;
	font-weight:bold;
	color:#575339;

	letter-spacing: 1px;
    text-align: left;
    display: block;
}

h3 {*font-style: italic;*/
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 100%;
	color: #575339;
	border-bottom: 1px dotted #adad66;
    padding: 0;
}

h3:first-letter {
	/*font-weight: bold;*/
}

p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#595946;
	margin: 4px 0 8px 0;
	padding: 0;
}

.important {
	font-size: 120%;
	color: #000;
}

a img {
	border: 0;
}

a {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#fb7e00;
	text-decoration:none;
}

a:hover {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#30778b;
	text-decoration:none;
}



li {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#595946;
}

.jump-to-page{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#30778b;
}

.generic-vote-div {
	background:url(../img/VoteBanner.png);
	background-position:top center;
	background-repeat:no-repeat;
	width:110px;
	height:120px;
	padding:25px 15px;;
}

.not-applicable {
	font-style: italic;
	color: #b87144;
}
/*From Flux CSS End*/

/*Custom YHMWHY*/
.yhmwhy-table{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#30778b;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
}

.yhmwhy-table a{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#172328;
	text-decoration:none;
}

.yhmwhy-table a:hover{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#2d444e;
	text-decoration:none;
}


.yhmwhy-table th{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#565230;
	font-weight:bold;
	background-color:#b5af7f;
	vertical-align:middle;
	padding:3px;
}

.yhmwhy-table td{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#565230;
	background-color:#cfcaa1;
	vertical-align:middle;
	padding:3px;
}

.yhmwhy-table input, textarea{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#878787;
	vertical-align:middle;
	background-color:#151415;
	border:1px solid #2e2e2e;
}

.yhmwhy-table select{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#30778b;
	vertical-align:middle;
}


.MenuLinks{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	margin-left:auto;
	margin-right:auto;
	color:#878787;
	margin-top:3px;
}

.MenuLinks a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#172328;
}

.MenuLinks a:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#2d444e;
}

.page-menu-item{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#878787;
}

.page-menu-item:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#648787;
}

#login_username{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333232;
	font-weight:bold;
	width:155px;
	height:19px;
	line-height:17px;
	margin-top:2px;
	background:none;
	border:0;
}

#login_password{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333232;
	font-weight:bold;
	width:155px;
	height:19px;
	line-height:17px;
	margin-top:2px;
	background:none;
	border:0;
}

.LoginButton{
	background:url(../img/LoginButton.png);
	background-position:top center;
	background-repeat:no-repeat;
	width:76px;
	height:48px;
	cursor:pointer;
	margin-bottom:5px;
	margin-right:8px;
}

.LogoutButton{
	background:url(../img/LogoutButton.png);
	background-position:top center;
	background-repeat:no-repeat;
	width:62px;
	height:47px;
	cursor:pointer;
	float:right;
}

.CloseButton{
	background:url(../img/CloseButton.png);
	background-position:top center;
	background-repeat:no-repeat;
	width:110px;
	height:51px;
	cursor:pointer;
	float:right;
}

/*Custom YHMWHY*/


/* MENU */

.LinkMenu{
	background:url(../img/LinkMenu.png);
	background-position:top center;
	background-repeat:no-repeat;
	margin-left:auto;
	margin-right:auto;
	overflow:auto;
}

/* MENU */

body{
	/*background:url(../img/Background.jpg);*/
	background-position:top center;
	background-repeat:no-repeat;
	background-color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#595946;
	padding:0;
	margin:0;
	text-align:center;
}

.myCenter{
	text-align:center;
}

.MyMain{
	background-color:#2c2a37;
	background-color:#47454c;
	max-width:1617px;
	min-width:990px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

.UpperBackground{
	background:url(../img/UpperBackground.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	max-width:1617px;
	min-width:990px;
	overflow:auto;
}

.LowerBackground{
	background:url(../img/LowerBackground.jpg);
	background-position:bottom center;
	background-repeat:no-repeat;
	max-width:1617px;
	min-width:990px;
	overflow:auto;
}

.HeaderStatusBack{
	background:url(../img/HeaderStatusBack.png);
	background-position:top left;
	background-repeat:no-repeat;
	width:991px;
	min-height:96px;
	margin-left:auto;
	margin-right:auto;
}

.ServerStatus{
	width:200px;
	float:left;
	margin-left:180px;
	margin-top:15px;
	text-align:left;
}

.OnlinePlayers{
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight:bold;
	color:#ffffff;
	width:130px;
	float:left;
	margin-top:20px;
	margin-left:50px;
}

.ServerTime{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#ffffff;
	width:55px;
	float:left;
	margin-top:30px;
	margin-left:50px;
}


.LoginArea{
	width:203px;
	min-height:96px;
	float:right;
	margin-right:10px;
	margin-top:2px;
}

.LogIn{
	background:url(../img/LoginForm.png);
	background-repeat:no-repeat;
	background-position:top center;
	float:left;
	width:203px;
	height:157px;
	display:none;
	overflow:auto;
}

.ToLogin{
	background:url(../img/ToLogin.png);
	background-position:top center;
	background-repeat:no-repeat;
	width:203px;
	min-height:69px;
	cursor:pointer;
}

.Welcome{
	background:url(../img/LogedIn.png);
	background-repeat:no-repeat;
	background-position:top center;
	float:left;
	width:203px;
	margin-top:10px;
	overflow:auto;
}

.myUsername{
	float:left;
	width:120px;
	margin-top:16px;
	text-align:left;
	margin-left:10px;
}

.StatusBack{
	background:url(../img/StatusBack.png);
	background-position:top center;
	background-repeat:repeat-x;
	min-height:96px;
	width:100%;
	max-width:1617px;
	min-width:990px;
	position:absolute;
	z-index:999999;
}

.MyMainContent{
	width:991px;
	margin-left:auto;
	margin-right:auto;
	overflow:auto;
}

.myHeader{
	/*background:url(../img/HeaderBack.png);
	background-position:top center;
	background-repeat:no-repeat;*/
	width:991px;
	height:531px;
	overflow:hidden;
}

.myHeaderMenu{
	background:url(../img/Header.png);
	background-position:top center;
	background-repeat:no-repeat;
	width:991px;
	height:146px;
	margin-top:385px;
}

.myBody{
	background:url(../img/myBody.png);
	background-position:top center;
	background-repeat:repeat-y;
	width:991px;
	overflow:auto;
}

.myFooter{
	background:url(../img/Footer.png);
	background-position:top center;
	background-repeat:no-repeat;
	width:991px;
	height:144px;
	margin-bottom:10px;
	overflow:auto;
}

.copyright{
	width:991px;
	margin-bottom:80px;
	overflow:auto;
}

.copyright a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#ffffff;
}

.copyright a:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#b9b8b8;
}

.LeftPannel{
	float:left;
	width:258px;
	min-height:900px;
}

.MidPannel{
	float:left;
	width:471px;
	min-height:900px;
}

.RightPannel{
	float:left;
	width:262px;
	min-height:900px;
}

.QuickLinksTop{
	background:url(../img/QuickLinksTop.png);
	background-position:top center;
	background-repeat:no-repeat;
	width:254px;
	height:109px;
	margin-left:auto;
	margin-right:auto;
}

.QuickLinksMid{
	background:url(../img/QuickLinksMid.png);
	background-position:top center;
	background-repeat:repeat-y;
	width:254px;
	min-height:200px;
	margin-left:auto;
	margin-right:auto;
}

.QuickLinksBot{
	background:url(../img/QuickLinksBot.png);
	background-position:top center;
	background-repeat:no-repeat;
	width:254px;
	height:47px;
	margin-left:auto;
	margin-right:auto;
}

.RegisterNow{
	background:url(../img/RegisterNow.png);
	background-position:top center;
	background-repeat:no-repeat;
	width:185px;
	height:58px;
	margin-left:auto;
	margin-right:auto;
	cursor:pointer;
}

.VoteForPoints{
	background:url(../img/VoteForPoints.png);
	background-position:top center;
	background-repeat:no-repeat;
	width:185px;
	height:58px;
	margin-left:auto;
	margin-right:auto;
	cursor:pointer;
}

.WriteReview{
	background:url(../img/WriteReview.png);
	background-position:top center;
	background-repeat:no-repeat;
	width:185px;
	height:58px;
	margin-left:auto;
	margin-right:auto;
	cursor:pointer;
}

.GameStaffs{
	background:url(../img/GameStaffs.png);
	background-position:top center;
	background-repeat:no-repeat;
	width:185px;
	height:58px;
	margin-left:auto;
	margin-right:auto;
	cursor:pointer;
}

.Support{
	background:url(../img/Support.png);
	background-position:top center;
	background-repeat:no-repeat;
	width:185px;
	height:58px;
	margin-left:auto;
	margin-right:auto;
	cursor:pointer;
}

.ScreenShots{
	background:url(../img/ScreenShots.png);
	background-position:top center;
	background-repeat:no-repeat;
	width:185px;
	height:58px;
	margin-left:auto;
	margin-right:auto;
	cursor:pointer;
}

.Videos{
	background:url(../img/Videos.png);
	background-position:top center;
	background-repeat:no-repeat;
	width:185px;
	height:58px;
	margin-left:auto;
	margin-right:auto;
	cursor:pointer;
}

.GameGuides{
	background:url(../img/GameGuides.png);
	background-position:top center;
	background-repeat:no-repeat;
	width:185px;
	height:58px;
	margin-left:auto;
	margin-right:auto;
	cursor:pointer;
}

.FB{
	background:url(../img/FB.png);
	background-position:top center;
	background-repeat:no-repeat;
	width:253px;
	height:267px;
	margin-left:auto;
	margin-right:auto;
	padding-top:12px;
}

.myFacebook{
	margin-left:auto;
	margin-right:auto;
}

.TODD_Top{
	background:url(../img/TODD_Top.png);
	background-position:top center;
	background-repeat:no-repeat;
	width:234px;
	height:51px;
	margin-left:auto;
	margin-right:auto;
}

.TODD_Mid{
	background:url(../img/TODD_Mid.png);
	background-position:top center;
	background-repeat:no-repeat;
	width:234px;
	min-height:93px;
	margin-left:auto;
	margin-right:auto;
	overflow:auto;
}

.TODD_Bot{
	background:url(../img/TODD_Bot.png);
	background-position:top center;
	background-repeat:no-repeat;
	width:234px;
	height:73px;
	margin-left:auto;
	margin-right:auto;
}

.MoreTips{
	background:url(../img/More_Tips.png);
	background-position:top center;
	background-repeat:no-repeat;
	width:179px;
	height:66px;
	cursor:pointer;
}

#TipCont{
	margin-left:30px;
	margin-right:35px;
	text-align:justify;
	font-size:11px;
}

.myBody{
}

.MidContentTop{
	background:url(../img/MidContentTop.png);
	background-position:top center;
	background-repeat:no-repeat;
	width:467px;
	height:64px;
	margin-left:auto;
	margin-right:auto;	
}

.MidContentMid{
	background:url(../img/MidContentMid.png);
	background-position:top center;
	background-repeat:repeat-y;
	width:467px;
	margin-left:auto;
	margin-right:auto;
	overflow:auto;
}

.MidContentBot{
	background:url(../img/MidContentBot.png);
	background-position:top center;
	background-repeat:no-repeat;
	width:467px;
	height:57px;
	margin-left:auto;
	margin-right:auto;	
}


.MainContainer{
	text-align:justify;
	width:435px;
	min-height:980px;
	overflow:auto;
	margin-left:auto;
	margin-right:auto;
}

.YouTube{
	background:url(../img/YouTube.png);
	background-position:top center;
	background-repeat:no-repeat;
	width:413px;
	height:261px;
	margin-left:auto;
	margin-right:auto;
	padding-top:11px;
	padding-left:22px;
}

.NewsTop{
	background:url(../img/NewsTop.png);
	background-position:top center;
	background-repeat:no-repeat;
	width:413px;
	height:42px;
	margin-left:auto;
	margin-right:auto;	
}

.NewsMid{
	background:url(../img/NewsMid.png);
	background-position:top center;
	background-repeat:repeat-y;
	width:413px;
	min-height:70px;
	margin-left:auto;
	margin-right:auto;
	overflow:auto;
}

.NewsBot{
	background:url(../img/NewsBot.png);
	background-position:top center;
	background-repeat:no-repeat;
	width:413px;
	height:22px;
	margin-left:auto;
	margin-right:auto;	
}

.ScrollButton{
	overflow:auto;
	margin-top:10px;
	margin-left:12px;
}

.ScrollButton img{
	margin-right:10px;
}

.ScrollItem{
	background:url(../img/ScrollItem.png);
	background-position:top center;
	background-repeat:no-repeat;
	width:413px;
	min-height:84px;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	overflow:hidden;
}

.WOE{
	background:url(../img/WOE.png);
	background-position:top center;
	background-repeat:no-repeat;
	width:262px;
	height:333px;
	margin-left:auto;
	margin-right:auto;
	overflow:auto;
}

.WOESched{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	width:150px;
	height:100px;
	margin-top:172px;
	margin-left:80px;
}

.WOEDay{
	text-align:left;
	width:70px;
	float:left;
	margin-top:6px;
	color:#827e5d;
}

.WOETime{
	text-align:right;
	width:80px;
	float:left;
	margin-top:6px;
	color:#242317;
}



.GOTM{
	background:url(../img/GOTM.png);
	background-position:top center;
	background-repeat:no-repeat;
	width:262px;
	height:295px;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
	overflow:hidden;
	clear:both;
}

.GuildName{
	color:#565230;
	font-weight:bold;
	width:200px;
	margin-top:140px;
	margin-left:auto;
	margin-right:auto;
}

.GOTMEmblem{
	width:57px;
	height:65px;
	margin-top:18px;
	margin-left:33px;
	float:left;
}

.GuildInfo{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-align:left;
	margin-right:25px;
	margin-top:18px;
	margin-left:10px;
	float:left;
}

.myfield{
	color:#716e53;
}
.myvalue{
	color:#242317;
}


.TopPlayer{
	background:url(../img/TopPlayer.png);
	background-position:top center;
	background-repeat:no-repeat;
	width:262px;
	height:385px;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
	overflow:hidden;
}


.NormalPVP{
	float:left;
	margin-left:33px;
	width:95px;
	line-height:24px;
}

.NoDonate{
	float:left;
	margin-left:13px;
	width:95px;
	line-height:24px;
}

.myNews{
	margin-top:10px;
	margin-bottom:10px;
	margin-left:30px;
	margin-right:30px;
	color:#000000;
}

.NewsTitle{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	float:left;
	width:250px;
	text-align:left;
}

.NewsDate{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	float:right;
	width:95px;
	text-align:right;
	margin-right:3px;
}

.NewsAuthor{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	text-align:left;
	color:#e1e1e1;
}

.FooterLinks{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	margin-top:73px;
}

.FooterLinks a{
	color:#FFF;
	text-decoration:none;
}

.FooterLinks a:hover{
	color:#cfff54;
	text-decoration:none;
}


#ItemMall{
	background-image:url(../img/ItemMall.png);
	background-position:top center;
	width:91px;
	height:24px;
	cursor:pointer;
}

#FeaturedItem{
	background-image:url(../img/FeaturedItem.png);
	background-position:top center;
	width:137px;
	height:24px;
	cursor:pointer;
}

/* Gallery Styles */

#motioncontainer a img {
border: 0 none white; /* Set image border color */
}
#motioncontainer a:hover img {
border: 0 none white; /* Set image border hover color */
}
#statusdiv {
background-color: lightyellow;
border: 0 none white;
padding: 1px;
position: absolute; /* Stop Editing Gallery Styles */
left: -300px;
visibility: hidden;
}
#motioncontainer a:hover {
color: red; /* Dummy definition to overcome IE bug */
}

.MotionContBack{
	background:url(../img/donation-box.png);
	width:365px;
	height:126px;
	overflow:hidden;
}

.DonationMenu{
	width:365px;
	height:18px;
	margin-top:3px;
}

.DonationMenu img{
	cursor:pointer;
}


#motioncontainer {
	width:407px;
	height:80px;
	margin-left:3px;
	margin-top:4px;
	overflow:hidden;
	position:relative;
	cursor:pointer;
}

.scrollleftimg {
	z-index: 9999999;
	width: 23px;
	height: 79px;
	position: relative;
	display: inline-block;
	cursor: pointer;
}
.scrollrightimg {
	z-index: 9999999;
	width: 23px;
	height: 79px;
	position: relative;
	display: inline-block;
	left: 360px;
	cursor: pointer;
}

.motiongalleryimg {
	cursor: pointer;
	border-right: 1px solid #cdd9e2;
}
/* End Gallery Styles */


/* POP UP STYLE */
#block_div{
			top:0;
			right:0;
			left:0;
			bottom:0;
			background-color:#FFF;
			position:fixed;
			-moz-opacity:0.5;
			-khtml-opacity: 0.5;
			opacity: 0.5;
			filter: alpha(opacity=50);
			visibility:hidden;
			z-index:88888888;
}

#popupmess{
			background-color:#FFF;
			width:500px;
			height:450px;
			position:absolute;
			margin-left:auto;
			margin-right:auto;
			margin-top:1300px;
			border:black solid 2px;
			display:none;
			z-index:99999999;
			margin-right:20px;
			background-image:url(../img/PopUpBox.jpg);
}

.content-mess{
		width:295px;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size:12px;
		text-align:justify;
		height:220px;
		overflow-x: hidden;
		overflow-y: scroll;
		padding:15px;
		margin-left:105px;
		margin-top:50px;
		border:1px solid #F1DABA;
}

.close_news{
	background-image:url(../img/e22.png);
	background-repeat:no-repeat;
	background-position:top;
	width:101px;
	height:38px;
	float:right;
}

.close_news:hover{
	background-position:bottom;
	cursor:pointer;
}

/* POP UP STYLE */

#slider_container_2 { 
	margin-left:auto; 
	margin-right:auto; 
	width: 428px;
	height:172px;
	background: url(../img/slideshow/bg.png) no-repeat 0 0;
	overflow:auto;
}

.SliderName_2 {
	width: 403px;
	height: 124px;
	margin-top:12px;
	margin-left:12px;
	overflow: hidden;
}

.SliderNamePrev_2 {
	background: url(../img/slideshow/left.png) no-repeat left center;
	width: 50px;
	height: 450px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	text-decoration: none;
}

.SliderNameNext_2 {
	background: url(../img/slideshow/right.png) no-repeat right center;
	width: 50px;
	height: 450px;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	text-decoration: none;
}

.SliderName_2Description {
	padding: 10px;
	font-family: Tahoma,Arial,Helvetica;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 1px;
	text-align: center;
	color: #ffffff;
	text-shadow: 0 1px 3px #000000;
}

#SliderNameNavigation_2 { margin: 0; padding: 10px 0 0 0; height: 16px; text-align: center; overflow-y: hidden; }

#SliderNameNavigation_2 a:link, #SliderNameNavigation_2 a:active, #SliderNameNavigation_2 a:visited, #SliderNameNavigation_2 a:hover{
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	text-decoration: none;
}

#SliderNameNavigation_2 a img
{
	border: none;
	width: 16px;
	height: 16px;
	background: url(../img/slideshow/bullet.png) no-repeat center center;
}

#SliderNameNavigation_2 a.active img
{
	background: url(../img/slideshow/bullet_active.png) no-repeat center center;
}