@charset "utf-8";

body{
	background-color:#000000;
	color:#848383;
	}
.mainWrapper{
	width:1130px;
	margin:0 auto;
	}
.statusbar{
	background-image:url(images/statusbar.png);
	height:55px;
	border-spacing:inherit;
	color:#848383;
}
.banner{
	background-image:url(images/banner.png);
	height:332px;;
}
.containerC{


}
.leftn{

	width:235px;;
	height:49px;;
	float:left;
}
.rightn{

	width:208px;
	height:49px;;
	float:left;
}
.nav{
	background-image:url(images/nav.png);
	width:683px;
	height:49px;
	float:left;
	line-height:49px;
}
.nav a{
	padding-left:10px;
	padding-right:10px;
	font-size:12px;
}
.nav a:hover {
	color:#848383;
	text-decoration:underline;
}
.nav a:visited{
	color:#848383;
	text-decoration:none;
}
.nav li a:link{
	text-decoration:none;
	color:#848383;
}
.nav li{
	display:inline;

}
.lefts{
	padding-top:6px;
	width:500px;
	text-align:left;
	font-size:11px;
	color:#848383;
	float:left;
}
.rigths b{


}
.rigths{
	padding-top:6px;
	width:500px;
	text-align:right;
	font-size:11px;
	color:#848383;
	float:left;
}
.centers{
	width:128px;
	float:left;
	padding-top:15px;
	color:#489dc8;
	font-size:10px;
	text-align:center;
}
.centers b{
	font-size:14px;
	color:#23acbc;
}
.bodyWrapper{
	float:left;
}
.leftnav{
float:left;
height:500px
}
.tlbtop{
	background-image:url(images/navtop.png);
	color:#848383;
	text-align:center;
	font-size:10px;
	height:36px;
	width:170px;
}
.etlbtop{
	background-image:url(images/exnavtop.png);
	color:#848383;
	text-align:center;
	font-size:10px;
	height:36px;
	width:170px;
}
.tlbtop b{
	padding-top:10px;
}
.tlbbot{
	background-image:url(images/navbot.png);
	height:12px;
	width:170px;
}
.tlbcon{
	background-image:url(images/REGISTER.png);
	color:#848383;
	height:37px;
}
.content{

	width:730px;
	float:left;
	height:500px;
}
.footer{
	width:730px;
}
.desinger{
	width:230px;
	float:left;
	color:#848383;
}
.copyright{
	width:500px;
	float:left;
	float:left;
	color:#999999;
}
.rightnav{
	width:230px;
	float:left;
	height:500px
}
.topcontent{
	margin:0 auto;
	background:url(images/topcontent.png);
	width:670px;
	height:276px;
}
.contendetail{
	color:#CCCCCC;

}
.rightImage{
	height:232px;
	width:120px;
	margin-right:50px;
	float:left;
	background:url(images/rightchar.png);
}
.leftImage{
	height:232px;
	width:120px;
	margin-left:50px;
	float:left;
	background:url(images/leftchar.png);
}
.txtContent{
	height:232px;
	width:330px;
	float:left;
	color:#705942;
	font-size:12px;
	text-align:justify;
}
.contentHead{
	width:730px;
	float:left;
	height:35px;
}
.Htext{
	background:url(images/hedcontxt.png);
	width:602px;
	float:left;
	margin:0 auto;
	height:117px;
	color:#FFFFFF;
	text-align:center;
}
.Hside{
	width:34px;
	height:117px;
	float:left;
}
.Rside{
	width:34px;
	height:117px;
	float:left;

}
.login{
	background:url(images/btnl.png);
	border:none;
	width:61px;
	height:22px;
	color:#FFFFFF;
}
.loginH{
	background:url(images/loginH.png);
	width:194px;
	height:37px;
}
.loginB{
	background:url(images/loginB.png);
	width:194px;
	height:10px;
}
.loginC{
	width:194px;
	background-color:#000000;
}
.loginFrom{
width:194px;
	margin:0 auto;
}
.community{
	width:201px;
	height:263px;
}
.commH{
	width:201px;
	background:url(images/commH.png);
	height:44px;
}
.commC{
	width:194px;
	float:left;
	background-color:#000000;
}
.commS{
	width:5px;
	float:left;
}
.commB{
	background:url(images/commB.png) no-repeat;;
	width:201px;
	height:18px;
	float:left;
}
.txtbox{
	border:solid #FFFF 3px;
	background:transparent;
}
/* CSS Document */

