@font-face {
	font-family: feasfbrg;
	src: url('../fonts/FEASFBRG.TTF');
}

body {
	margin: 0;
	padding: 0;
	border: 0;	
	/*background-color: #eef1ee;*/
	background-color: #c2edfd;
	background-image: url('http://i41.tinypic.com/2ypiyyr.jpg');
	background-position: top center;
	background-repeat: repeat-x;
	font-family: Calibri, Helvetica, Arial;
	letter-spacing: 0px;
	font-size: 12px;
}


#main {
	background-image: url('../img/main.jpg');
	margin: auto;
	width: 1024px;
	height: 1000px;
	position: relative;
	border-left: 10px solid #d9e0d9;
	border-right: 10px solid #d9e0d9;
}


a {
	color: #cccccc;
}
a:hover, a:focused, a:focus, a:active {
	color: #dddddd;
}

/* top bar */
#header {
	width: 100%;
	height: 30px;
}

#login-server-status, #char-server-status, #map-server-status {
	position: relative;
	top: 6px;
}
#login-server-status {
	left: 329px;
}
#char-server-status {
	left: 348px;
}
#map-server-status {
	left: 370px;
}
#woe-status {
	position: relative;
	top: 8px;
	left: 715px;
}
#server-time {
	position: relative;
	left: 496px;
	top: 1px;
	color: #ffffff;
	font-weight: bold;
}


/* login form */
#login, #loggedin {
	position: relative;
	left: 573px;
	top: 9px;
	width: 307px;
	height: 189px;
}
#login {
	background-image: url('../img/login-interface.png');
}
#loggedin {
	background-image: url('../img/loggedin-interface.png');
}
#username, #password {
	position: relative;
	width: 93px;
	height: 16px;
	border: 0;
	background-color: transparent;
}
#username {
	top: 63px;
	left: 103px;
}
#password {
	top: 100px;
	left: 6px;
}
.input-nohover:hover {
	outline: 0;
	border: 0;
}
.input-nohover:focus {
	outline: 0;
	border: 0;
}
.input-nohover:active {
	outline: 0;
	border: 0;
}
#login-link, #forgot-password-link {
	position: absolute;
	width: 54px;
	height: 29px;
	display: block;
}
#login-link {
	background-image: url('../img/login-button.png');
	top: 54px;
	left: 198px;
	background-color: transparent;
	border: 0;
	outline: 0;
	cursor: pointer;
}
#login-link:hover {
	background-image: url('../img/login-hover-button.png');
}
#forgot-password-link {
	background-image: url('../img/forgot-password-button.png');
	top: 97px;
	left: 44px;
}
#forgot-password-link:hover {
	background-image: url('../img/forgot-password-hover-button.png');
}
#loggedin-user {
	position: relative;
	top: 24px;
	left: 150px;
	font-family: feasfbrg, Calibri, Helvetica, Arial;
	font-size: 20px;
	font-weight: lighter;
	color: #ffca68;
	text-shadow: 0px 0px 2px #ffca68;
}
#loggedin-balance {
	position: relative;
	top: 58px;
	left: 60px;
	color: #ffffff;
}
#loggedin-cashpoints {
	position: relative;
	top: 96px;
	left: 52px;
	color: #ffffff;
}
#loggedin-logout {
	position: relative;
	left: 190px;
	top: 75px;
	background-image: url('../img/logout.png');
	width: 47px;
	height: 23px;
	display: block;
}
#loggedin-nav {
	text-align: center;
}


/* upper content */
#upper-content {
	width: 100%;
	height: 264px;
}

#home-link, #forum-link, #download-link {
	position: absolute;
	width: 150px;
	height: 40px;
	display: block;
}
#home-link {
	background-image: url('../img/home.png');
	left: 70px;
	top: 307px;
}
#home-link:hover {
	background-image: url('../img/home-hover.png');
}
#forum-link {
	background-image: url('../img/forum.png');
	left: 70px;
	top: 362px;
}
#forum-link:hover {
	background-image: url('../img/forum-hover.png');
}
#download-link {
	background-image: url('../img/download.png');
	left: 70px;
	top: 418px;
}
#download-link:hover {
	background-image: url('../img/download-hover.png');
}

#v4p-link, #rms-link, #donate-link {
	position: absolute;
	width: 177px;
	height: 28px;
	top: 270px;
}
#v4p-link {
	background-image: url('../img/v4p-button.png');
	left: 240px;
}
#v4p-link:hover {
	background-image: url('../img/v4p-hover-button.png');
}
#rms-link {
	background-image: url('../img/rms-button.png');
	left: 420px;
}
#rms-link:hover {
	background-image: url('../img/rms-hover-button.png');
}
#donate-link {
	background-image: url('../img/donate-button.png');
	left: 600px;
}
#donate-link:hover {
	background-image: url('../img/donate-hover-button.png');
}

#textarea1-container {
	position: absolute;
	width: 537px;
	height: 174px;
	left: 240px;
	top: 306px;
	background-image: url('../img/textarea1.png');
}
#textarea1 {
	width: 370px;
	height: 144px;
	margin: 15px 10px 15px 10px;
	color: #ffffff;
}

#register-link {
	background-image: url('../img/register-now-button.png');
	position: absolute;
	width: 118px;
	height: 20px;
	left: 406px;
	top: 57px;
	display: block;
}
#full-client-link, #small-client-link {
	background-image: url('../img/download-now-button.png');
	position: absolute;
	width: 114px;
	height: 17px;
	display: block;
}
#full-client-link {
	left: 408px;
	top: 108px;
}
#small-client-link {
	left: 408px;
	top: 149px;
}

#player-of-the-month-stats, #guild-of-the-month-stats {
	font-size: 8px;
	color: #ffffff;
	position: absolute;
}
#player-of-the-month-stats{
	left: 896px;
	top: 313px;
	line-height: 1.4em;
	text-align: right;
	width: 40px;
	height: 30px;
}
#player-of-the-month, #guild-of-the-month {
	display: block;
	text-align: center;
	width: 130px;
	position: absolute;
	left: 820px;
	font-family: feasfbrg, Calibri, Helvetica, Arial;
	font-size: 20px;
	font-weight: lighter;
}
#player-of-the-month {
	top: 350px;
	color: #ffca68;
	text-shadow: 0px 0px 2px #ffca68;
}
#guild-of-the-month {
	top: 442px;
	color: #bac755;
	text-shadow: 0px 0px 2px #bac755;
}
#guild-of-the-month-stats {
	left: 896px;
	top: 429px;
	text-align: right;
	width: 42px;
	height: 30px;
}


/* lower content */
#lower-content {
	position: absolute;
	width: 100%;
	height: 264px;
}

#informations-link, #staffinfo-link, #screenshots-link {
	position: absolute;
	width: 195px;
	height: 59px;
	left: 44px;
	display: block;
}
#informations-link {
	background-image: url('../img/informations-button.png');
	top: 41px;
}
#informations-link:hover {
	background-image: url('../img/informations-hover-button.png');
}
#staffinfo-link {
	background-image: url('../img/staff-info-button.png');
	top: 107px;
}
#staffinfo-link:hover {
	background-image: url('../img/staff-info-hover-button.png');
}
#screenshots-link {
	background-image: url('../img/screenshots-button.png');
	top: 174px;
}
#screenshots-link:hover {
	background-image: url('../img/screenshots-hover-button.png');
}

#content-page {
	background-image: url('../img/content-page.png');
	position: absolute;
	width: 482px;
	height: 257px;
	left: 250px;
	top: 10px;
}
#news, #events, #updates {
	color: #000000;
	font-size: 12px;
	position: relative;
	overflow: hidden;
	width: 363px;
	height: 77px;
	left: 74px;
	top: 20px;
	padding: 10px 0px 0px 20px;
	margin-bottom: -10px;
	line-height: 20px;
}
#news a, #events a, #updates a {
	color: #111111;
}
#news a:hover, #events a:hover, #updates a:hover {
	color: #333333;
}
.neu-timestamp {
	text-align: right;
	position: absolute;
	left: 300px;
}

#content-page2 {
	background-image: url('../img/content-page2.png');
	position: absolute;
	width: 452px;
	height: 342px;
	left: 280px;
	top: 10px;
}
.headline {
	position: absolute;
	width: 164px;
	height: 48px;
	left: 150px;
	top: 16px;
}
#headline-donate-index {
	background-image: url('../img/headline-donate.png');
}
#headline-download-index {
	background-image: url('../img/headline-downloads.png');
}
#headline-server-info {
	background-image: url('../img/headline-information.png');
}
#headline-server-screenshots {
	background-image: url('../img/headline-screenshot.png');
}
#headline-server-staff {
	background-image: url('../img/headline-staff-info.png');
}
#content {
	position: absolute;
	top: 64px;
	left: 59px;
	width: 315px;
	height: 234px;
	padding: 10px;
	overflow: auto;
	font-size: 12px;
}

.social-icon {
	position: absolute;
	left: 694px;
	width: 36px;
	height: 36px;
}
#facebook-link {
	background-image: url('../img/facebook-button.png');
	top: 36px;
}
#twitter-link {
	background-image: url('../img/twitter-button.png');
	top: 74px;
}
#facebook-link:hover {
	background-image: url('../img/facebook-hover-button.png');
}
#twitter-link:hover {
	background-image: url('../img/twitter-hover-button.png');
}

#video {
	background-image: url('../img/video-button.jpg');
	position: absolute;
	width: 218px;
	height: 188px;
	top: 36px;
	left: 747px;
	cursor: pointer;
}

/* footer */
#copyright {
	position: relative;
	top: 230px;
	left: 760px;
	font-size: 11px;
	font-family: Calibri, Helvetica, Arial;
	font-weight: bold;
}
#designer-credits, #coder-credits, #coder-credits2 {
	position: relative;
	font-size: 11px;
	font-weight: bold;
}
#designer-credits {
	left: 50px;
	top: 250px;
}
#designer-credits img {
	position: absolute;
	left: 85px;
}
#coder-credits {
	left: 760px;
	top: 60px;
}
#coder-credits img {
	position: absolute;
	left: 70px;
}
#coder-credits2 {
	left: 760px;
	top: 115px;
}
#coder-credits2 img {
	position: absolute;
	left: 70px;
}

/* link button effects*/
#register-link:hover, #full-client-link:hover, #small-client-link:hover {
	margin: 1px;
}